
.custom-container {
    position: relative;
    width: 100%;
    height: 70vh; 
    background-image: url("https://confetti.html.themeforest.createit.pl/assets/images/demo-content/bg-01.jpg");
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0,0.1s);
}

.custom-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.left-image {
    width: 38%;
    height: 70%; 
    margin-left: 170px;
    margin-top: 80px;
}

.heading-container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center; /* Align items (headings) vertically */
    margin-top: 80px;
    margin-right: 600px;
}

.main-heading {
    font-size: 2.5em; 
    text-decoration: dashed;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    margin-bottom: 10px;
}

.subtitle {
    font-size: 18px;
}
.button_posts {
    padding: 8px 20px;
    font-size: 15px;
    border-radius: 30px;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.button_posts:hover{
   background-color: #ff69b4;
   outline: transparent; 

}