.background {
    position: relative;
    width: 100%;
  }
  
  .background img {
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
 
  .overlay-content {
    text-align: center;
  }
  
  .overlay-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
     
  }
  
  
  .overlay-content button {
    padding: 10px 20px;
    
    border: none;
    border-radius: 5px;
    border: white;
    outline: 2px solid;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .overlay-content button:hover {
    background-color: #ff69b4; 
  }
  